<?php

return array(
    'debug' => false,

    \CWreden\GitLog\GitHub\GitHubServices::GITHUB_APP_NAME => 'GitLog',

    \CWreden\GitLog\GitHub\GitHubServices::GITHUB_API_CLIENT_ID => '',
    \CWreden\GitLog\GitHub\GitHubServices::GITHUB_API_CLIENT_SECRET => '',

    'twig.path' => __DIR__ . '/../templates',

    'db.options' => array(
        'driver' => 'pdo_mysql',
        'host' => 'localhost',
        'dbname' => 'gitLog',
        'user' => 'root',
        'password' => '',
        'charset' => 'utf8'
    )
);
