<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ app.name }}</title>

    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css">

    <script src="components/react/react.js"></script>
    <script src="components/react/JSXTransformer.js"></script>
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="components/react-bootstrap/react-bootstrap.min.js"></script>
    <script src="components/react-router/build/umd/ReactRouter.min.js"></script>

</head>
<body>
    <script>
        var username = '{{ username|escape }}';
        var isAuthorized = Boolean('{{ isAuthorized|escape }}');
        var GitLog = {{ app|json_encode|raw }};

        if (!jQuery.isPlainObject(GitLog)) {
            GitLog = {};
        }
    </script>
    <script type="text/jsx" src="js/ChangeLog.js"></script>
    <script type="text/jsx" src="js/CommitList.js"></script>
    <script type="text/jsx" src="js/GitTagList.js"></script>
    <script type="text/jsx" src="js/RepositoryList.js"></script>
    <script type="text/jsx" src="js/Repository.js"></script>
    <script type="text/jsx" src="js/Profile.js"></script>
    <script type="text/jsx" src="js/Home.js"></script>
    <script type="text/jsx" src="js/Dashboard.js"></script>
    <script type="text/jsx" src="js/NavigationBar.js"></script>
    <script type="text/jsx" src="js/Application.js"></script>
    <script type="text/jsx" src="js/routing.js"></script>
</body>
</html>